---
import { actions } from "astro:actions";
import Layout from "../layouts/Layout.astro";
import CustomInputText from "@components/CustomInputText";
import CustomInputPassword from "@components/CustomInputPassword"
const redirect = Astro.url.searchParams.get("return") ?? undefined;
const returnTo = redirect ? `?return=${encodeURIComponent(redirect)}` : "";

const result = Astro.getActionResult(actions.createUserForm);

if (result && !result.error) {
  return Astro.redirect(result.data.redirect || "/");
}
---

<Layout title="Cadastro" showNav={false}>
  <main class="bg-[#50be91] dark:bg-[#1e4937] flex flex-1 flex-col items-center justify-center">
    <form
      method="POST"
      action={actions.createUserForm}
      class="bg-[#d3d3d3] dark:bg-gray-900 shadow-2xl rounded-3xl w-9/10 h-1/2 md:w-1/2 flex flex-col items-center justify-center gap-4"
    >
      <input type="hidden" name="redirect" value={redirect} />
      
      <CustomInputText title="Usuário" name="username"></CustomInputText>
      <CustomInputPassword title="Senha" name="password"></CustomInputPassword>
      <CustomInputText title="Cidade" name="city"></CustomInputText>
      <div class="h-8 w-8/10 flex items-center justify-center font-bold">
        {
          result && result.error && (
            <p style={{ color: "red" }}>{result.error.message}</p>
          )
        }
      </div>
      <button
        type="submit"
        class="
          cursor-pointer rounded-4xl
          w-40 h-15 bg-[#50be91]
          font-bold text-[#1e4937] text-white
          hover:bg-[#50be90d3] hover:text-[#1e4937cb] dark:bg-[#327c5d]"
        >Cadastrar
      </button>
      <div class="flex flex-row gap-1">
        <h1>Já possui uma conta?</h1>
        <a href=`/login${returnTo}` class="font-bold text-[#3d9470]">Entrar</a>
      </div>
    </form>

    
  </main>
</Layout>
